@font-face {
  font-family: UTMBebas;
  src: url("webfonts/UTM Bebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTMImpact;
  src: url("webfonts/UTM Impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTMMontserrat;
  src: url("webfonts/Montserrat-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTMMontserratSemiBold;
  src: url("webfonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-impact {
  font-family: UTMImpact !important;
}

.font-montserrat {
  font-family: UTMMontserrat !important;
}

.font-montserratsemibold {
  font-family: UTMMontserratSemiBold !important;
}

.font-bebas {
  font-family: UTMBebas !important;
}

.btnPrimary {
  background: #f3cb62;
  -webkit-box-shadow: 0 2px 2px rgba(90, 90, 90, 0.15);
          box-shadow: 0 2px 2px rgba(90, 90, 90, 0.15);
  border-radius: 30px;
  padding: 4px 49px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: UTMBebas;
}

.border-solid {
  border: 1px solid #c8b89e;
}

.border-top-solid {
  border-top: 1px solid #c8b89e;
}

.border-right-solid {
  border-right: 1px solid #c8b89e;
}

.border-bottom-solid {
  border-bottom: 1px solid #c8b89e;
}

.border-left-solid {
  border-left: 1px solid #c8b89e;
}

/* Responsive */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* spacing */
.mt--20 {
  margin-top: 20px;
}

.mt--30 {
  margin-top: 30px;
}

.mt--40 {
  margin-top: 40px;
}

.mt--50 {
  margin-top: 50px;
}

.mt--60 {
  margin-top: 60px;
}

.mt--70 {
  margin-top: 70px;
}

.mt--80 {
  margin-top: 80px;
}

.mt--90 {
  margin-top: 90px;
}

.mt--100 {
  margin-top: 100px;
}

.mt--110 {
  margin-top: 110px;
}

.mt--120 {
  margin-top: 120px;
}

.mt--130 {
  margin-top: 130px;
}

.mt--140 {
  margin-top: 140px;
}

.mt--150 {
  margin-top: 150px;
}

/* spacing */
.pt--30 {
  padding-top: 30px;
}

.pt--40 {
  padding-top: 40px;
}

.pt--50 {
  padding-top: 50px;
}

.pt--60 {
  padding-top: 60px;
}

.pt--70 {
  padding-top: 70px;
}

.pt--80 {
  padding-top: 80px;
}

.pt--90 {
  padding-top: 90px;
}

.pt--100 {
  padding-top: 100px;
}

.pt--110 {
  padding-top: 110px;
}

.pt--120 {
  padding-top: 120px;
}

.pt--130 {
  padding-top: 130px;
}

.pt--140 {
  padding-top: 140px;
}

.pt--150 {
  padding-top: 150px;
}

/* spacing */
.pb--30 {
  padding-bottom: 30px;
}

.pb--40 {
  padding-bottom: 40px;
}

.pb--45 {
  padding-bottom: 45px;
}

.pb--50 {
  padding-bottom: 50px;
}

.pb--55 {
  padding-bottom: 55px;
}

.pb--60 {
  padding-bottom: 60px;
}

.pb--70 {
  padding-bottom: 70px;
}

.pb--75 {
  padding-bottom: 75px;
}

.pb--80 {
  padding-bottom: 80px;
}

.pb--90 {
  padding-bottom: 90px;
}

.pb--100 {
  padding-bottom: 100px;
}

.pb--110 {
  padding-bottom: 110px;
}

.pb--120 {
  padding-bottom: 120px;
}

.pb--130 {
  padding-bottom: 130px;
}

.pb--140 {
  padding-bottom: 140px;
}

.pb--150 {
  padding-bottom: 150px;
}

/* spacing */
.ptb--30 {
  padding: 30px 0;
}

.ptb--40 {
  padding: 40px 0;
}

.ptb--50 {
  padding: 50px 0;
}

.ptb--60 {
  padding: 60px 0;
}

.ptb--70 {
  padding: 70px 0;
}

.ptb--80 {
  padding: 80px 0;
}

.ptb--90 {
  padding: 90px 0;
}

.ptb--100 {
  padding: 100px 0;
}

.ptb--110 {
  padding: 110px 0;
}

.ptb--120 {
  padding: 120px 0;
}

.ptb--130 {
  padding: 130px 0;
}

.ptb--140 {
  padding: 140px 0;
}

.ptb--150 {
  padding: 150px 0;
}

.ptb--200 {
  padding: 200px 0;
}

.ptb--220 {
  padding: 220px 0;
}

.padding--lr--30px {
  padding: 0 30px;
}

.margin--lr--60 {
  margin: 0 60px;
}

/* Text specialized */
.text--italic {
  font-style: italic;
}

.text--normal {
  font-style: normal;
}

.text--underline {
  text-decoration: underline;
}

/* Font specialized */
.body--font {
  font-family: "Poppins", sans-serif;
}

.heading--font {
  font-family: "Poppins", sans-serif;
}

/* Height and width */
.fullscreen {
  min-height: 85vh;
  width: 100%;
}

.w--100 {
  width: 100%;
}

.w--75 {
  width: 75%;
}

.w--50 {
  width: 50%;
}

.w--33 {
  width: 33.33%;
}

.w--25 {
  width: 25%;
}

.w--10 {
  width: 10%;
}

.w--100vw {
  width: 100vw;
}

.h--100 {
  height: 100%;
}

.h--75 {
  height: 75%;
}

.h--50 {
  height: 50%;
}

.h--25 {
  height: 25%;
}

.h--33 {
  height: 33.33%;
}

.h--10 {
  height: 10%;
}

.h--100vh {
  height: 100vh;
}

/* Section padding */
.section-padding--xlg {
  padding: 80px 0;
}

.section-padding--lg {
  padding: 80px 0;
}

.section-padding--md {
  padding: 120px 0;
}

.section-padding--sm {
  padding: 100px 0;
}

.section-padding--xs {
  padding: 80px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding--xlg {
    padding: 80px 0;
  }
  .section-padding--lg {
    padding: 80px 0;
  }
  .page-blog-details.section-padding--lg.bg--white {
    padding-bottom: 60px;
  }
  .page-blog.bg--white.section-padding--lg.blog-sidebar.right-sidebar {
    padding-bottom: 45px;
  }
  .section-padding--md {
    padding: 85px 0;
  }
  .section-padding--sm {
    padding: 70px 0;
  }
  .section-padding--xs {
    padding: 60px 0;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mt-40 {
    margin-top: 40px;
  }
  .md-mb-40 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding--xlg {
    padding: 80px 0;
  }
  .section-padding--lg {
    padding: 80px 0;
  }
  .section-padding--md {
    padding: 60px 0;
  }
  .section-padding--sm {
    padding: 50px 0;
  }
  .section-padding--xs {
    padding: 50px 0;
  }
  .page-blog.bg--white.section-padding--lg.blog-sidebar.right-sidebar {
    padding-bottom: 60px;
  }
  .page-about.about_area.bg--white.section-padding--lg {
    padding-bottom: 55px;
  }
  .page-blog-details.section-padding--lg.bg--white {
    padding-bottom: 60px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mb-40 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .xs-mt-0 {
    margin-top: 0;
  }
  .xs-mt-30 {
    margin-top: 30px;
  }
  .xs-mt-40 {
    margin-top: 40px;
  }
  .xs-pt-100 {
    padding-top: 100px !important;
  }
  .xs-mt--30 {
    margin-top: -30px !important;
  }
  .xs-pb-0 {
    padding-bottom: 0 !important;
  }
}

@font-face {
  font-family: UTMBebas;
  src: url("webfonts/UTM Bebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem !important;
}

*:not(i) {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
  list-style: none;
  text-decoration: none !important;
  font-family: UTMBebas !important;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hot-label {
  background: #ee533a;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 6rem;
  margin: auto;
  padding-bottom: 5px;
}

@media (min-width: 0) and (max-width: 340px) {
  .hot-label {
    font-size: 1.2rem;
    width: 4rem;
  }
}

@media (min-width: 340px) and (max-width: 500px) {
  .hot-label {
    font-size: 1.8rem;
    width: 5rem;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .hot-label {
    font-size: 2rem;
    width: 5rem;
  }
}

.hot-title {
  background: #dc2626;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 4.5rem;
  margin: auto;
  padding-bottom: 2px;
}

.big-label-yellow {
  background: #f3cb62;
  border: 0.5px solid #f3cb62;
  -webkit-box-shadow: 0 5px 5px rgba(182, 131, 0, 0.1);
          box-shadow: 0 5px 5px rgba(182, 131, 0, 0.1);
  border-radius: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #64471c;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 0) and (max-width: 340px) {
  .big-label-yellow {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media (min-width: 340px) and (max-width: 500px) {
  .big-label-yellow {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .big-label-yellow {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
  }
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper {
  position: relative;
}

#wrapper #menu {
  z-index: 5;
  padding: 14px 28.05px;
  background-size: cover;
  -webkit-filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
  position: fixed;
  width: 100vw;
  top: 0;
}

@media (max-width: 1000px) {
  #wrapper #menu {
    display: none !important;
  }
}

#wrapper #menu .item-center > a {
  color: #9e856e;
  border-radius: 5px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 1700px) {
  #wrapper #menu .item-center > a {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

#wrapper #body-main-content {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
}

#wrapper #body-main-content #full-main-content {
  height: 100%;
}

#wrapper #body-main-content #full-main-content .section-content:not(.active) {
  display: none;
}

#wrapper #body-main-content #full-main-content .section-content {
  padding-top: 8rem;
}

#wrapper #body-main-content #full-main-content .section-content h1 {
  line-height: 5rem;
  margin: 2rem 0;
  font-size: 4rem;
}

@media (min-width: 0) and (max-width: 340px) {
  #wrapper #body-main-content #full-main-content .section-content h1 {
    line-height: 2.5rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
}

@media (min-width: 340px) and (max-width: 500px) {
  #wrapper #body-main-content #full-main-content .section-content h1 {
    line-height: 3.5rem;
    margin: 0.5rem 0;
    font-size: 2.5rem;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #wrapper #body-main-content #full-main-content .section-content h1 {
    line-height: 4rem;
    margin: 0.5rem 0;
    font-size: 3rem;
  }
}

#wrapper #body-main-content #full-main-content .gioi-thieu {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@media (min-width: 0) and (max-width: 340px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .image-content img {
    width: 150px;
    height: 200px;
  }
}

@media (min-width: 340px) and (max-width: 500px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .image-content img {
    width: 250px;
    height: 300px;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .image-content img {
    width: 300px;
    height: 350px;
  }
}

#wrapper #body-main-content #full-main-content .gioi-thieu h1 {
  color: #e3a554;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany {
  margin-top: 1rem;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround {
  margin: 0.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div {
  background: rgba(168, 148, 123, 0.05);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  border: 1px solid #c9c5aa;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 1.5rem;
  margin: 0 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0.5rem;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div > div > img {
  width: 67px;
  height: 75px;
}

@media (min-width: 0) and (max-width: 340px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div > div > img {
    width: 30px;
    height: 36px;
  }
}

@media (min-width: 340px) and (max-width: 500px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div > div > img {
    width: 50px;
    height: 56px;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div > div > img {
    width: 58px;
    height: 64px;
  }
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-top h1 {
  color: #695548;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-mid h3 {
  font-size: 1.35rem;
  line-height: 2rem;
}

@media (min-width: 0) and (max-width: 340px) {
  #wrapper #body-main-content #full-main-content .hot-information .content-animation .content-mid h3 {
    font-size: 0.75rem;
    line-height: 1.1rem;
  }
}

@media (min-width: 340px) and (max-width: 500px) {
  #wrapper #body-main-content #full-main-content .hot-information .content-animation .content-mid h3 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  #wrapper #body-main-content #full-main-content .hot-information .content-animation .content-mid h3 {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline {
  margin: 0.5rem 1.5rem;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px #602f0140;
          box-shadow: 0 3px 4px #602f0140;
  border-radius: 18px;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder {
  padding: 1.65rem;
  height: 100%;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider {
  height: 100%;
  border: 3px solid #695548;
  padding: 1.2rem 0;
  border-radius: 10px;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > h3 {
  color: #695548;
  margin-bottom: 1.75rem;
  padding: 0 1rem;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > .hot-title {
  margin-bottom: 0;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > p {
  margin-top: 0.75rem;
  color: #695548;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > p:last-child {
  color: #c8b89e;
  font-weight: lighter;
}

#wrapper footer .footer .footer-right {
  padding: 0 0;
}

#wrapper footer .footer .footer-right > div > div {
  padding-left: 2rem;
}

#wrapper footer .footer .footer-right .footer-right-top .title {
  text-transform: uppercase;
  color: #f1be3a;
  font-size: 2.5rem;
}

#wrapper footer .footer .footer-right .footer-right-bot {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#wrapper footer .footer .footer-right .footer-right-bot > div > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content {
  margin-left: 1rem;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content > p {
  margin-bottom: 0;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content .title {
  color: #695548;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content .text {
  font-weight: normal;
  color: #c8b99f;
}
/*# sourceMappingURL=custom.css.map */