@font-face {
  font-family: UTMBebas;
  src: url("webfonts/UTM Bebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem !important;
}

*:not(i) {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
  list-style: none;
  text-decoration: none !important;
  font-family: UTMBebas !important;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hot-label {
  background: #ee533a;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  width: 84px;
  margin: auto;
  padding-bottom: 5px;
}

.hot-title {
  background: #dc2626;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 4.5rem;
  margin: auto;
  padding-bottom: 2px;
}

.big-label-yellow {
  background: #f3cb62;
  border: 0.5px solid #f3cb62;
  -webkit-box-shadow: 0 5px 5px rgba(182, 131, 0, 0.1);
          box-shadow: 0 5px 5px rgba(182, 131, 0, 0.1);
  border-radius: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #64471c;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  margin-left: auto;
  margin-right: auto;
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper {
  position: relative;
}

#wrapper #menu {
  z-index: 5;
  padding: 14px 28.05px;
  background-size: cover;
  -webkit-filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
  position: fixed;
  width: 100vw;
  top: 0;
}

@media (max-width: 1000px) {
  #wrapper #menu {
    display: none !important;
  }
}

#wrapper #menu .item-center > a {
  color: #9e856e;
  border-radius: 5px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 1700px) {
  #wrapper #menu .item-center > a {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

#wrapper #body-main-content {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
}

#wrapper #body-main-content #full-main-content {
  height: 100%;
}

#wrapper #body-main-content #full-main-content .section-content:not(.active) {
  display: none;
}

#wrapper #body-main-content #full-main-content .section-content {
  padding-top: 8rem;
}

#wrapper #body-main-content #full-main-content .section-content h1 {
  line-height: 5rem;
  margin: 2rem 0;
  font-size: 4rem;
}

@media (min-width: 700px) {
  #wrapper #body-main-content #full-main-content .section-content h1 {
    line-height: 4rem;
    margin: .5rem 0;
    font-size: 3rem;
  }
}

@media (min-width: 500px) {
  #wrapper #body-main-content #full-main-content .section-content h1 {
    line-height: 3.5rem;
    margin: .5rem 0;
    font-size: 2.5rem;
  }
}

@media (min-width: 700px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .image-content img {
    width: 300px;
    height: 350px;
  }
}

@media (min-width: 500px) {
  #wrapper #body-main-content #full-main-content .gioi-thieu .image-content img {
    width: 250px;
    height: 300px;
  }
}

#wrapper #body-main-content #full-main-content .gioi-thieu h1 {
  color: #e3a554;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany {
  margin-top: 1rem;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround {
  margin: 0.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div {
  background: rgba(168, 148, 123, 0.05);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  border: 1px solid #c9c5aa;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#wrapper #body-main-content #full-main-content .gioi-thieu .itemCompany .backGround > div > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 1.5rem;
  margin: 0 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0.5rem;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-top h1 {
  color: #695548;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-mid h3 {
  font-size: 1.35rem;
  line-height: 2rem;
  font-weight: 100;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline {
  margin: 0.5rem 1.5rem;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px #602f0140;
          box-shadow: 0 3px 4px #602f0140;
  border-radius: 18px;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder {
  padding: 1.65rem;
  height: 100%;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider {
  height: 100%;
  border: 3px solid #695548;
  padding: 1.2rem 0;
  border-radius: 10px;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > h3 {
  color: #695548;
  margin-bottom: 1.75rem;
  padding: 0 1rem;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > .hot-title {
  margin-bottom: 0;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > p {
  margin-top: 0.75rem;
  color: #695548;
}

#wrapper #body-main-content #full-main-content .hot-information .content-animation .content-bot #slider .owl-carousel .items > .outline > .outborder > .content-slider > p:last-child {
  color: #c8b89e;
  font-weight: lighter;
}

#wrapper footer .footer .footer-right {
  padding: 0 0;
}

#wrapper footer .footer .footer-right > div > div {
  padding-left: 2rem;
}

#wrapper footer .footer .footer-right .footer-right-top .title {
  text-transform: uppercase;
  color: #f1be3a;
  font-size: 2.5rem;
}

#wrapper footer .footer .footer-right .footer-right-bot {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#wrapper footer .footer .footer-right .footer-right-bot > div > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content {
  margin-left: 1rem;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content > p {
  margin-bottom: 0;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content .title {
  color: #695548;
}

#wrapper footer .footer .footer-right .footer-right-bot .top > div .foot-content .text {
  font-weight: normal;
  color: #c8b99f;
}
/*# sourceMappingURL=custom.css.map */