@font-face {
    font-family: UTMBebas;
    src: url("webfonts/UTM\ Bebas.ttf") format("truetype");
    // url("../fonts/Captureit.eot#iefix") format("embedded-opentype"),
    // url("../fonts/Captureit.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem !important;
}

*:not(i) {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
    list-style: none;
    text-decoration: none !important;
    font-family: UTMBebas !important;
}

*::before,
*::after {
    box-sizing: border-box;
}

.hot-label {
    background: #ee533a;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    width: 84px;
    margin: auto;
    padding-bottom: 5px;
}

.hot-title {
    background: #dc2626;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25rem;
    width: 4.5rem;
    margin: auto;
    padding-bottom: 2px;
}

.big-label-yellow {
    background: #f3cb62;
    border: 0.5px solid #f3cb62;
    box-shadow: 0 5px 5px rgba(182, 131, 0, 0.1);
    border-radius: 65px;
    align-items: center;
    text-align: center;
    color: #64471c;
    text-transform: uppercase;
    width: fit-content;
    padding-left: 3.8rem;
    padding-right: 3.8rem;
    margin-left: auto;
    margin-right: auto;
}

.owl-carousel .owl-stage {
    display: flex;
}

#wrapper {
    position: relative;
    #menu {
        z-index: 5;
        padding: 14px 28.05px;
        background-size: cover;
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
        position: fixed;
        width: 100vw;
        top: 0;
        @media (max-width: 1000px) {
            display: none !important;
        }
        .item-center {
            & > a {
                color: #9e856e;
                border-radius: 5px;
                margin-left: 10px;
                text-transform: uppercase;
                font-size: 1.5rem;
                line-height: 2rem;
            }
            @media (min-width: 1700px) {
                & > a {
                    padding-right: 2rem !important;
                    padding-left: 2rem !important;
                }
            }
        }
    }

    #body-main-content {
        object-fit: cover;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        width: 100%;
        background-attachment: fixed;
        #full-main-content {
            height: 100%;
            .section-content:not(.active) {
                display: none;
            }
            .section-content {
                padding-top: 8rem;
                h1 {
                    line-height: 5rem;
                    margin: 2rem 0;
                    font-size: 4rem;
                    @media (max-width: 700px) {
                        line-height: 4rem;
                        margin: .5rem 0;
                        font-size: 3rem;
                    }
                    @media (max-width: 500px) {
                        line-height: 3.5rem;
                        margin: .5rem 0;
                        font-size: 2.5rem;
                    }
                    @media (max-width: 300px) {
                        line-height: 2.5rem;
                        margin: .5rem 0;
                        font-size: 1.5rem;
                    }
                }
            }
            .gioi-thieu {
                .image-content img {
                    @media (max-width: 700px) {
                        width: 300px;
                        height: 350px;
                    }
                    @media (max-width: 500px) {
                        width: 250px;
                        height: 300px;
                    }
                    @media (max-width: 300px) {
                        width: 150px;
                        height: 200px;
                    }
                }
                h1 {
                    color: #e3a554;
                }
                .itemCompany {
                    margin-top: 1rem;
                    .backGround {
                        margin: 0.5rem 0;
                        width: fit-content;
                        & > div {
                            background: rgba(168, 148, 123, 0.05);
                            backdrop-filter: blur(33px);
                            border: 1px solid #c9c5aa;
                            border-radius: 50%;
                            width: fit-content;
                            margin: auto;
                            & > div {
                                width: fit-content;
                                padding: 1.5rem 1.5rem;
                                margin: 0 1rem;
                                background-color: #ffffff;
                                border-radius: 50%;
                                margin: 0.5rem;
                            }
                        }
                    }
                }
            }
            .hot-information {
                .content-animation {
                    & .content-top h1 {
                        color: #695548;
                    }
                    & .content-mid h3 {
                        font-size: 1.35rem;
                        line-height: 2rem;
                        font-weight: 100;
                    }
                    & .content-bot #slider .owl-carousel .items {
                        display: grid;
                        width: 100%;
                        height: 100%;
                        & > .outline {
                            margin: 0.5rem 1.5rem;
                            background: #fff;
                            box-shadow: 0 3px 4px #602f0140;
                            border-radius: 18px;
                            & > .outborder {
                                padding: 1.65rem;
                                height: 100%;
                                & > .content-slider {
                                    height: 100%;
                                    border: 3px solid #695548;
                                    padding: 1.2rem 0;
                                    border-radius: 10px;
                                    & > h3 {
                                        color: #695548;
                                        margin-bottom: 1.75rem;
                                        padding: 0 1rem;
                                    }
                                    & > .hot-title {
                                        margin-bottom: 0;
                                    }
                                    & > p {
                                        margin-top: 0.75rem;
                                        color: #695548;
                                        &:last-child {
                                            color: #c8b89e;
                                            font-weight: lighter;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer {
            .footer-right {
                padding: 0 0;
                & > div > div {
                    padding-left: 2rem;
                }
                .footer-right-top {
                    .title {
                        text-transform: uppercase;
                        color: #f1be3a;
                        font-size: 2.5rem;
                    }
                }
                .footer-right-bot {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    & > div > div {
                        flex: 0 0 50%;
                    }
                    .top {
                        & > div {
                            .foot-content {
                                margin-left: 1rem;
                                & > p {
                                    margin-bottom: 0;
                                }
                                .title {
                                    color: #695548;
                                }
                                .text {
                                    font-weight: normal;
                                    color: #c8b99f;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
